<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>Didact Demo</title>
  <link href="/assets/images/juice.png" type="image/x-icon" rel="shortcut icon">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
  <meta name="format-detection" content="telephone=no">
  <script defer src="/runtime.js?f94910c1d2dfceacf7e6"></script><script defer src="/vendors-node_modules_babel_runtime_helpers_esm_defineProperty_js-node_modules_babel_runtime_h-d8f074.js?f94910c1d2dfceacf7e6"></script><script defer src="/app.js?f94910c1d2dfceacf7e6"></script>
</head>
<body>
  <div id="root"></div>
  
</body>
</html>
